<div class="registryContainer">
  <div class = "container">
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <div class="center">
            <div class = "bordedContainer">
              <input class="form-control marbo15" id="name" type="text" placeholder="Ingrese Nombre">
              <input class="form-control marbo15" id="surname" type="text" placeholder="Ingrese Apellido">
              <input class="form-control marbo15" id="birthday" type="date" placeholder="Ingrese Fecha_Nacimiento">
              <input [(ngModel)]="email" class="form-control marbo15" id="email" type="email" placeholder="Ingrese Email">
              <input [(ngModel)]="pass" class="form-control marbo15" id="pass" type="password" placeholder="Ingrese Contraseña">
              </div>
            <div class="center marbo15">
              <button type="button" class="btn btn-outline-dark" (click)="register()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>