<div class="loginContainer">
  <div class = "container">
      <div class="row justify-content-md-center">
        <div class="col-md-3">
          <div class = "avatarFrameoffiline marto15 marbo15">
            <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
          </div>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col-md-6">
          <div class="center marbo15">
            <h3>
              Iniciar Sesion
            </h3>
            <div class = "bordedContainer">
              <input class="form-control marbo15" type="email" placeholder="Ingrese Email">
              <input class="form-control marbo15" type="password" placeholder="Ingrese Contraseña">
            </div>
            <div class="center marbo15">
              <button type="button" class="btn btn-outline-dark">Inicias Sesion</button>
            <div class="center marto30">
              <h4>
                  If you don't have an account click <a routerLink = "/registry">here</a>
              </h4>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>